<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Rolls</th>
        </tr>
    </thead>
    <tbody>
        <tr class="result-card placeholder">
            <td class="timestamp">OO:OO:OO</td>
            <td>No Rolls yet!</td>
        </tr>
    </tbody>
</table>