---
layout: master
---

<div id="tools-list">
    {% for tool in site.tools %}
        <a class="tools-list-item card" href="{{ tool.url }}">
            {% include icons/{{tool.icon}}.svg %}
            <div class="information">
                <div class="name">
                    {{ tool.tool_name }}
                </div>
                <div class="description">
                    {{ tool.description }}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
