---
tool_name: Dice
description: Its any dice you want.
icon: dice-5

layout: tool
explanation: >-
    Just input the number of sides you want and hit go
---
<script src="/js/dice.js" type="text/javascript"></script>
<div id="dice">
    <div id="input" class="card">
        <label for="own-attack">
            Dice sides
            <input type="text" id="dice-sides" />
        </label>
        <button id="get-dice" class="button full primary">Roll dice!</button>
    </div>
    <div id="output" class="card">
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Roll</th>
                </tr>
            </thead>
            <tbody>
                <tr class="result-card">
                    <td class="timestamp">00:00:00</td>
                    <td>No Rolls yet!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
