---
tool_name: Pathfinder Character Stats
icon: person
description: Generate the stats for a pathfinder lv 1 character.

layout: tool
explanation: >-
    Generate stats lol
---

<script src="/js/pf-character-stats.js" type="text/javascript"></script>
<div id="pf-character-stats">
    <div id="stat-dices" class="card">
        <div id="dices">
            {%include pf-character-stats/stat-dice.html dice_number=1 %} {%include pf-character-stats/stat-dice.html dice_number=2 %} {%include pf-character-stats/stat-dice.html dice_number=3 %}
            {%include pf-character-stats/stat-dice.html dice_number=4 %} {%include pf-character-stats/stat-dice.html dice_number=5 %} {%include pf-character-stats/stat-dice.html dice_number=6 %}
        </div>
        {% include button.html text="Roll stats!" id="get-stat-dices" class="full" %}
    </div>
    <div id="feature-select" class="card">
        <label class="class">Class {% include selector.html %} </label>
        <label class="race">Race {% include selector.html %} </label>
    </div>
    <div id="stats" class="card">
        <table>
            <thead>
                <tr>
                    <th>Stats</th>
                    <th>Input</th>
                    <th>Other Mod.</th>
                    <th>Class|Race Mod.</th>
                    <th>Sum</th>
                    <th>Bonus</th>
                </tr>
            </thead>
            <tbody>
                {% include pf-character-stats/input-row.html stat="strength" %} {% include pf-character-stats/input-row.html stat="dexterity" %} {% include pf-character-stats/input-row.html
                stat="constitution" %} {% include pf-character-stats/input-row.html stat="wisdom" %} {% include pf-character-stats/input-row.html stat="intelligence" %} {% include
                pf-character-stats/input-row.html stat="charisma" %} {% include pf-character-stats/input-row.html stat="base-attack-bonus" %} {% include pf-character-stats/input-row.html
                stat="fortitude" %} {% include pf-character-stats/input-row.html stat="reflex" %} {% include pf-character-stats/input-row.html stat="will" %}
            </tbody>
        </table>
    </div>
    <div id="skill-output" class="card"></div>
</div>
