---
tool_name: PTU Damage Calculator
description: Calculate damage based on damage base, stab, effectivity and more!
icon: calculator

layout: tool
explanation: >-
    text
    text
    text
    text
---

{% capture dmgBaseSelector %}
<select id="damage-base">
    {% for i in (1..26) %}
    <option value="dmgBase{{i}}" {%if i == 4 %}selected{% endif %}>DB {{ i }}</option>
    {% endfor %}
</select>
{% endcapture %}
{% capture effectivitySelector %}
<select id="type-effectivity">
    <option value="0.125">Triply Resisted (0.125x)</option>
    <option value="0.25">Doubly Resisted (0.25x)</option>
    <option value="0.5">Resisted (0.5x)</option>
    <option value="1" selected>Normal (1x)</option>
    <option value="1.5">Super-Effective (1.5x)</option>
    <option value="2">Doubly Super-Effective (2x)</option>
    <option value="3">Triply Super-Effective (3x)</option>
</select>
{% endcapture %}

<script src="/js/ptu-dmg.js" type="text/javascript"></script>

<div id="ptu-dmg-calculator">
    <div id="input" class="card">
        <label for="damage-base"> Damage base {% include selector.html selector=dmgBaseSelector %} </label>
        <label for="type-effectivity"> Type effectivity {% include selector.html selector=effectivitySelector %} </label>
        <label for="own-attack">
            <div class="bundle">
                Own attack
                {% include hoverInfo.html tooltip="You can input calculations, e.g. (1 + 4) * 3" %}
            </div>
            <input type="text" id="own-attack" />
        </label>
        <label for="enemy-defense">
            <div class="bundle">
                Enemy defense
                {% include hoverInfo.html tooltip="You can input calculations, e.g. (1 + 4) * 3" %}
            </div>
            <input type="text" id="enemy-defense" />
        </label>
        <label for="stab">
            <div class="bundle">
                STAB?
                {% include hoverInfo.html tooltip="Same Type Attack Bonus" %}
            </div>
            <input type="checkbox"> </label>
        <label for="critical-hit"> Critical Hit? <input type="checkbox" id="critical-hit"></label>
        <button id="get-damage" class="button full primary">Roll damage!</button>
    </div>
    <div id="output" class="card">
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Roll</th>
                </tr>
            </thead>
            <tbody>
                <tr class="result-card">
                    <td class="timestamp">
                        00:00:00
                    </td>
                    <td>
                        No Rolls yet!
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
