input[type=text] {
    background: $primary-5;
    border: none;
    padding: 4px;
    border-radius: $radius;
    min-width: 200px;
    color: $text-colour;
    &:focus {
        outline: 0.5px solid $accent-orange;
        background-color: $primary-10;
    }
}

input[type=checkbox]{
    appearance: unset;
    width: 16px;
    height: 16px;
    margin: 0px;
    background: $primary-5;
    border: 3px solid $primary-5;
    border-radius: $radius;
    position: relative;
    cursor: pointer;
    &:checked:after{
        color: $accent-orange;
        font-weight: 700;
        font-size: 16px;
        content: "x";
        display: inline-block;
        position: absolute;
        top: -6px;
    }
    &:hover{
        background: $primary-10;
        border-color: $primary-10;
    }
}

.selector {
    display: flex;
    align-items: center;
    position: relative;
    background: $primary-5;
    border-radius: $radius;
    color: $text-colour;
    min-width: 200px;
    cursor: pointer;
    .icon {
        right: 4px;
        position: absolute;
        width: 20px;
        height: 20px;
    }
    select {
        padding: 4px;
        color: $text-colour;
        appearance: unset;
        border: none;
        padding-right: 24px;
        background: none;
        z-index: 2;
        width: 100%;
        cursor: pointer;
    }
    option {
        background: $primary-5;
    }
}

button {
    padding: 6px 4px;
    color: $text-colour;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    font-size: 14px;
    &.primary {
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
        background: linear-gradient(90deg, $accent-yellow, $accent-orange);
    }
    &.full {
        width: 100%;
    }
    &:hover {
        filter: brightness(1.1);
    }
}

label {
    cursor: pointer;
}