:root {
    --content-width: 1320px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-family: "Inter", sans-serif;
    color: $text-colour;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: $accent-orange;
    text-decoration: none;
    &:hover {
        color: $accent-yellow;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    nav {
        margin: 0 auto;
        margin-bottom: 16px;
        font-weight: 700;
        background-color: $primary;
        box-shadow: $shadow;
        border-radius: 0 0 $radius $radius;
        overflow: hidden;
        max-width: var(--content-width);
        a {
            display: inline-flex;
            text-align: center;
            align-items: center;
            padding: 15px 19px;
            transition: 200ms ease all;
            font-weight: 500;
            gap: 8px;
            .icon {
                height: 24px;
                width: 24px;
                color: $text-colour;
            }
        }
    }
}

main {
    display: grid;
    margin: 0px auto;
    max-width: var(--content-width);
    width: 100%;
    gap: 16px
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 16px;
    margin-top: auto;
    a {
        display: flex;
        align-items: center;
        gap: 8px;

        color: $text-colour-muted;
        fill: $text-colour-muted;
        &:hover {
            color: $text-colour;
            fill: $text-colour;
        }
    }
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        &.github {
            width: 18px;
            height: 18px;
            margin-right: 6px;
        }
    }
}

.card {
    padding: 16px;
    background: $primary;
    box-shadow: $shadow;
    border-radius: $radius;
}

.bold {
    font-weight: 700;
}

.hover-info {
    display: flex;
    color: $text-colour-muted;
    .icon {
        width: 16px;
        height: 16px;
    }
}
th {
    text-align: start;
}

@media (max-width: 1320px){
    main {
        padding: 0px 16px;
    }
}

.explanation {
    h1 {
        color: $accent-orange;
        font-size: 18px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 8px;
    }
}