// shadow
$shadow: 0px 4px 11px rgba(0, 0, 0, 0.12);
$shadow-hover: 0px 4px 11px rgba(0, 0, 0, 0.24);

// font
$text-colour: rgba(255, 255, 255, 0.85);
$text-colour-muted: rgba(255, 255, 255, 0.5);

// other
$radius: 4px;

// main body colors
$background: #212427;
$primary: #383d43;
$primary-5: #444a51;
$primary-10: #4f565f;
$primary-20: #66707b;
// 80 = brightness(.8)
$divider: rgba(255, 255, 255, 0.1);

$accent-orange: #fa6d30;
$accent-yellow: #ffc831;
