.tooltip {
    cursor: pointer;
    position: relative;
    z-index: 9;

    //Tooltip text container - above element
    //You can adjust the position to make the container appear below or beside the element
    &::before {
        content: attr(aria-label);
        width: max-content;

        position: absolute;
        top: -41px;

        padding: 8px;
        border-radius: $radius;
        font-size: 12px;

        background-color: #000;
        color: $text-colour;
        text-transform: none;
        transition: all 0.1s ease;
    }

    //Tooltip arrow
    //You can adjust the position of this to align nicely with the element that
    //needs a tooltip. You can also use `transform` to rotate it to make the
    //tooltip work below or next to the element.
    &::after {
        content: " ";

        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;

        position: absolute;
        top: -12px;
        left: 4px;
        width: 0;

        font-size: 0;
        line-height: 0;
    }

    //Setting up the transition
    &::before,
    &::after {
        opacity: 0;
        pointer-events: none;
    }

    //Triggering the transition
    &:focus::before,
    &:focus::after,
    &:hover::before,
    &:hover::after {
        opacity: 1;
        transition: all 0.75s ease;
    }
}