#tools-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.tools-list-item {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: 150ms ease all;

    padding: 16px;
    .icon {
        width: 32px;
        height: 32px;
        color: $text-colour-muted;
    }
    .information {
        display: flex;
        gap: 4px;
        flex-direction: column;
        color: $text-colour;
        border-left: 2px solid $accent-orange;
        padding-left: 16px;
        transition: 150ms ease all;
        .name{
            font-size: 18px;
            font-weight: 700;
        }
    }
    &:hover{
        background-color: $primary-5;
        box-shadow: $shadow-hover;
        .information {
            border-left: 2px solid $accent-yellow;
        }
    }
}

@media (max-width: 1000px) {
    #tools-list {
        grid-template-columns: repeat(1, 1fr);
    }
}