<tr id="input-{{ include.stat }}">
    <td>{{ include.stat | replace: "-"," " | capitalize }}</td>
    <td class="stat-input"><input type="text" /></td>
    <td class="modifier-input"><input type="text" /></td>
    <td class="internal-modifier"></td>
    <td class="bonus"></td>
</tr>
