// calculator
#dice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    div#input {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: max-content;
        label {
            display: flex;
            justify-content: space-between;
        }
    }
    .timestamp {
        color: $text-colour-muted;
        border-right: 1px solid $accent-orange;
    }
}

@media (max-width: 800px) {
    #dice {
        grid-template-columns: repeat(1, 1fr);
    }
}
