#pf-character-stats {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "dice dice select"
    "input input skills";
}


#stat-dices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    grid-area: dice;
    #dices {
        display: flex;
        justify-content: space-around;
        .dice {
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $text-colour;
            .icon {
                width: 48px;
                height: 48px;
            }
            .result {
                font-size: 24px;
            }
        }
    }
}

#feature-select {
    grid-area: select;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    label {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

#stats{
    grid-area: input;
}

#skills {
    grid-area: skills;
}