<!DOCTYPE html>
<html lang="en">
    <head>
        {%- comment -%} title {%- endcomment -%}
        {% if page.tool_name %}
            <title>{{ page.tool_name }}</title>
            <meta content="{{ page.tool_name }}" property="og:title">
        {% else %}
            <title>RockRollers Roleplay Tools</title>
            <meta content="RockRollers Roleplay Tools" property="og:title">
        {% endif %}
        {%- comment -%} description {%- endcomment -%}
        <meta name="description" content="{{ site.description }}">
        <meta property="og:description" content="{{ site.description }}">

        <!-- Open Graph exclusive meta tags -->
        <meta content="website" property="og:type">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css"/>
        <link rel="icon" href="{{site.baseurl}}/favicon.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <meta content="#fa6d30" name="theme-color">
    </head>

    <body>
        <header class="header">
            <nav class="navbar">
                <a href="{{site.baseurl}}/">{% include icons/sword.svg %}Home</a>
            </nav>
        </header>
        <main id="main">{{ content }}</main>
        <footer>
            <a href="https://gitlab.com/RockRoller/rp-tools/" rel="noopener" target="_blank">{% include icons/gitlab.svg %}GitLab</a>
        </footer>
    </body>
</html>
